.container-bg-2 {
    display: flex;
    padding: 104px 206px;
    
}
.container-content-2{
    display: flex;
    gap: 172px;
    height: 318px;
    
}
.content-car-2 {
   padding: 60px 0px 20px;
   display: flex;
   flex-direction: column;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 700;
   height: 500px;
   

}
.content-car-2 >h1 {
    width: 468px;
    font-size: 24px;
    padding-bottom: 24px;
}
.content-car-2 >p {
    width: 468px;
    font-size: 14px;

}

.tick-addition {
    color: #000000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    
}
.tick-addition >p {
    display: flex;
    align-items: center;
    gap: 16px;
}



@media screen and (max-width: 360px) {
    .container-bg-2 {
        padding: 16px;
    }
    .container-content-2 {
        display: flex;
        flex-direction: column;
        gap: 1px
    }
    .girl-image {
        width: 360px;
        height: 150px
    }
    .girl-image > img{
        width: 199px;
        height: 199px;
        align-items: center;
    }
    .content-car-2 >h1,
    .content-car-2 >p {
        width: 328px;
        height: 72px;
    }
    .tick-addition {
        width: 328px;
        height: 72px;

    }
}



