* {
    margin: 0px;
    padding: 0px
}
.background-pg {
   margin-top: -50px;
   margin-left: 196px;
   position: absolute;
   background: var(--neutral-01, #FFF);
   border: 1px solid #FFF;
   border-radius: 8px;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

}
.container-pg-1 {
    display: flex;
    flex-direction: column;
    
}

.text-id {
    display: flex
}
.carName {
    display: flex;
    width: 1216px;
    height: 106px;
    padding: 24px;
    gap: 24px;
    align-items: center;
   
}
.text-1,
.text-2,
.text-3,
.text-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}
.text-1,
.text-2,
.text-3,
.text-4 > p {
    font-size: 12px;

}
#search,
#type,
#money,
#rent {
    width: 208px;
    height: 36px;   
    margin-right: 24px;
}
.click {
    width: 96px;
    height: 32px;
    padding: 0px 6px;
    background: #5CB85F;
    font-size: 10px;
    border-color: #5CB85F;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;

    
}
.container-pg-2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-left: 196px;
    margin-top: 120px;
    
}
.border-car {
    width: 333px;
    height: 478px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
    border: 1px solid #FFF;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);

}
.border-car > h5 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.border-car > h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

}
.border-car > p {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;

}
.image-car {
    width: 303px;
    height: 222px;
    padding: 31px 16px;

}
.click-2 {
    margin: 24px;
    width: 285px;
    height: 48px;
    border-radius: 2px;
    background: #5CB85F;
    border-color: #5CB85F;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    

}
.No-car {
    margin: 24px;
    width: 1200px;
    height: 600px;
    text-align: center;
    align-items: center;
}